:global {
  @import 'base';
  @import 'vendor/normalize';
  @import 'node_modules/codemirror/lib/codemirror';
  @import 'node_modules/codemirror/theme/neo';

  // Some best-practice CSS that's useful for most apps
  // Just remove them if they're not what you want
  html {
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  .container {
    padding: 1em;
    padding-left: 150px;

    #main {
      float: left;
      padding-right: 24px;
    }

    #right {
    }

    #argv {
      background: white;

      .output {
        margin: 24px 0;

        table {
          tr.odd {
            background: rgba(0.5, 0.5, 0.5, 0.1);
          }

          td {
            padding: 0 16px;
          }
        }
      }
    }

    .title {
      padding-bottom: 0;
      margin-bottom: .3em;
    }

    .subtitle {
      padding-top: 0;
      margin-top: 0;
      font-weight: normal;
      font-style: italic;
    }
  }

  .playground {
    border: 1px solid gray;

    h3 {
      margin-bottom: 0.5em;
    }

    .subtitle {
      color: gray;
      font-size: 0.75em;
    }

    .options {
      padding: 5px;
      margin: 0px;
      li {
        list-style-type: none;

        &.complex {
          padding-top: 8px;
          padding-bottom: 8px;
        }

        &.important {
        }
      }
    }

    .timing {
      span.ms {
        font-style: italic;
      }

      li {
      }
    }

    .CodeMirror {
      height: 640px;
      padding-left: 8px;
      border: 1px solid #ccc;
      border-left: none;
      border-top: none;

      .CodeMirror-cursor {
        width: auto;
        border: 0;
        background: transparent;
        background: rgba(0, 200, 0, .4);
      }
    }

    .command-line {
      border: 1px solid #ccc;
      padding-left: 5px;
      span {
        font-style: italic;
      }
      input {
        margin-left: 0.5em;
        border: none;
        &:focus {
          outline: none;
        }
      }
    }

    .output {
      .success {
        background-color: rgba(0, 150, 100, 0.1);
      }

      .empty {
        color: gray;
        font-style: italic;
      }
    }

    .error {
      background-color: rgba(150, 0, 0, 0.1);
    }
  }

  label {
    &.above {
      display: block;
    }

    &.below {
      display: block;
    }

    &.right {
      padding-left: 0.5em;
    }

    &.explanation {
      font-size: 0.75em;
    }
  }

  .clear-fix {
    clear: both;
  }
}
