:global {
  @import 'base';
  @import 'vendor/normalize';
  @import 'node_modules/codemirror/lib/codemirror';
  @import 'node_modules/codemirror/theme/tomorrow-night-eighties';
  @import 'node_modules/codemirror/theme/dracula';

  @mixin placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &::-webkit-input-placeholder { @content; }
  }

  // Some best-practice CSS that's useful for most apps
  // Just remove them if they're not what you want
  html {
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #181c25;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  .CodeMirror-ruler {
    border-left: 1px dashed #ccc;
    border-left-color: #777;
  }

  .cm-s-dracula { /* theme overrides */
    .CodeMirror-gutters {
      background-color: #111221 !important;
    }
  }

  #container {
    font-family: monaco, Consolas, Lucida Console, monospace;
    padding: 1em;
    width: 100%;
    position: relative;

    .title {
      color: #fff;
      padding-bottom: 0;
      margin-bottom: .3em;
    }

    #topsection {
      position: relative;
    }

    .subtitle {
      padding-top: 0;
      margin-top: 0;
      font-weight: normal;
      font-style: italic;
      color: #97b0c1;
    }

    .github {
      position: absolute;
      bottom: 0;
      right: 0;
      ul {
        li {
          iframe {
            margin-right: 8px;
            height: 100%;
            width: 100%;
          }
          list-style-type: none;
        }
      }
    }

    h3 {
      margin-bottom: 0.5em;
    }
  }

  #inner-container {
    margin: 0 auto;
    max-width: 1000px;
  }

  #playground {
    position: relative;
    display: table;
    box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.07);
    border-top: 2px inset orange;

    #main {
      padding: 0;
      width: 100%;
      display: table-cell;
      position: relative;
      vertical-align: top;
    }

    #right {
      font-family: monaco, Consolas, Lucida Console, monospace;
      box-shadow: -10px 0px 10px 10px black;
      z-index: 300;
      padding: 0;
      min-width: 300px;
      max-width: 500px;
      display: table-cell;
      vertical-align: top;
      box-shadow: -10px 0 15px -12px #222;
      position: relative;
      background: #223040;
      color: #d9dbe0;
      /* border-left: 2px groove #20436b; */

      h3 {
        padding-left: 10px;
        text-transform: capitalize;
        text-shadow: 0 0 3px #191919;
        color: #989898;
      }
    }

    #rubber {
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      height: 30px;
      background: #0d151f;
      padding: 5px;

      ul {
        display: table;
        margin: 0;
        padding: 0;

        li {
          display: table-cell;
          list-style-type: none;
          border: 0;
        }

        iframe {
          width: 100%;
          border: 0;
          margin: 0 auto;
        }
      }
    }

    #argv {
      height: 100%;
      background: white;

      #output {
        margin: 24px 0;

        table {
          tr.odd {
            background: rgba(0.5, 0.5, 0.5, 0.1);
          }

          td {
            padding: 0 16px;
          }
        }

        .success {
          background-color: rgba(0, 150, 100, 0.1);
        }

        .empty {
          color: gray;
          font-style: italic;
        }
      }

      input {
        width: 80%;
      }
    }

    .subtitle {
      color: gray;
      font-size: 0.75em;
    }

    #options {

      ul {
        padding: 0;
        margin: 0;

        li {
          padding: 2px;
          padding-left: 8px;
          padding-right: 5px;
          list-style-type: none;

          &.even {
            background: #142b46;
          }

          &.complex {
            padding-top: 8px;
            padding-bottom: 8px;
          }

          &.important {
          }
        }
      }

      input[type=text] {
        background: #3d445f;
        border: 2px groove #183456;
        font-size: 0.75em;

        @include placeholder {
          color: gray;
        }
      }

      label {
        font-size: 0.8em;
      }

      .new-feature {
        padding-left: 3px;
        color: orange;
      }
    }

    #timing {
      span.ms {
        font-style: italic;
      }

      span.ms.argv {
        font-weight: bold;
      }

      li {
      }
    }

    #editor {
      .CodeMirror {
        height: auto;
        height: 640px;
        border-left: none;
        border-top: none;
      }
    }

    .CodeMirror-cursor {
      width: auto;
      border: 0;
      background: transparent;
      background: rgba(100, 100, 255, .8);
    }

    #error {
      background-color: rgba(255, 106, 107, 0.86);
      color: white;
      position: absolute;
      bottom: 40px; /* height of argv */
      z-index: 200;
      right: 10px;
      left: 10px;
      border-radius: 10px;
      border: 1px dotted #ccc;
      margin: 5px;

      pre {
        margin: 0;
        padding: 15px;
      }
    }

    .fade-enter {
      opacity: 0.01;
    }

    .fade-enter.fade-enter-active {
      opacity: 1;
      transition: opacity 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    }

    .fade-leave {
      opacity: 1;
    }

    .fade-leave.fade-leave-active {
      opacity: 0.01;
      transition: opacity 300ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    }

    #command-line {
      width: 100%;
      background: #131319 !important;
      overflow: hidden;
      padding: 4px;

      .CodeMirror {
        height: auto !important;
      }

      ul {
        margin: 0;
        padding: 0;
        display: table;
        li {
          list-style-type: none;
          display: table-cell;
        }
      }

      .predefined {
        vertical-align: middle;
        color: yellow;
        background: none;
      }

      .cm-s-dracula.CodeMirror { /* theme overrides */
        background: #131319 !important;
      }


      #argv {
        width: 100%;
      }
    }
  }

  label {
    &.above {
      display: block;
    }

    &.below {
      display: block;
    }

    &.right {
      padding-left: 0.5em;
    }

    &.left {
      padding-right: 0.5em;
    }

    &.explanation {
      font-size: 0.75em;
    }
  }

  .clear-fix {
    clear: both;
  }
}
