:global {
  @import 'base';
  @import 'vendor/normalize';
  @import 'node_modules/codemirror/lib/codemirror';
  @import 'node_modules/codemirror/theme/neo';

  // Some best-practice CSS that's useful for most apps
  // Just remove them if they're not what you want
  html {
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    padding: 1em;

    #main {
      float: left;
      width: 720px;
      padding-right: 24px;
    }

    #argv {
      width: 720px - 24px /*padding*/;
      background: white;

      .output {
        margin: 24px 0;

        table {
          width: 720px - 24px /*padding*/;

          tr.odd {
            background: rgba(0.5, 0.5, 0.5, 0.1);
          }

          td {
            padding: 0 16px;
          }
        }
      }
    }

    .title {
      padding-bottom: 0;
      margin-bottom: .3em;
    }

    .subtitle {
      padding-top: 0;
      margin-top: 0;
      font-weight: normal;
      font-style: italic;
    }
  }

  .playground {
    border: 1px solid gray;

    .options {
      padding: 5px;
      margin: 0px;
      li {
        list-style-type: none;
      }
    }

    .CodeMirror {
      height: 640px;
      padding-left: 8px;
      border: 1px solid #ccc;
      border-left: none;
      border-top: none;

      .CodeMirror-cursor {
        width: auto;
        border: 0;
        background: transparent;
        background: rgba(0, 200, 0, .4);
      }
    }

    .command-line {
      border: 1px solid #ccc;
      padding-left: 5px;
      width: 100%;
      span {
        font-style: italic;
      }
      input {
        margin-left: 0.5em;
        border: none;
        width: 600px;
        &:focus {
          outline: none;
        }
      }
    }

    .output {
      background-color: rgba(0, 150, 100, 0.1);
    }

    .error {
      background-color: rgba(150, 0, 0, 0.1);
    }
  }

  label.right {
    padding-right: 0.5em;
  }

  .clear-fix {
    clear: both;
  }
}
